.main-result{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: hsla(186, 14%, 72%, 1);
  background: linear-gradient(0deg, hsla(186, 14%, 72%, 1) 5%, hsla(216, 45%, 57%, 1) 78%);
  background: -moz-linear-gradient(0deg, hsla(186, 14%, 72%, 1) 5%, hsla(216, 45%, 57%, 1) 78%);
  background: -webkit-linear-gradient(0deg, hsla(186, 14%, 72%, 1) 5%, hsla(216, 45%, 57%, 1) 78%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#AEC0C2", endColorstr="#6087C2", GradientType=1);
}
.result-container {
  text-align: center;
  padding: 20px;
}

.result-container h2 {
  margin-top: 20px;
  font-size: 28px;
}
.result-title{
    font-size:40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-left: 40px;
    padding-top: 20px;
    font-weight:lighter;
}
.result-container button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
}
.btn-1{
  border: none;
  margin: 10px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}
.btn-1:hover{
  transform: scale(1.1);
}
.btn-2{
  border: none;
  margin: 10px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-2:hover{
  transform: scale(1.1);
}
.btn-3{
  margin: 10px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-3:hover{
  transform: scale(1.1);

}
.ri-download-line{
  border-radius: 50%;
}
.btn-4{
  border: none;
  margin: 10px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-4:hover{
  transform: scale(1.1);
}